/*
--- FONT SIZE SYSTEM (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 /
36 / 44 / 52 / 62 / 74 / 86 / 98

--- WHITE SPACE SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 /
64 / 80 / 96 / 128

*/

/* General/Global rules */
/* heading font */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");
/* secondary font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap");

:root {
  --heading_font: "Oswald", sans-serif;
  --sec_font: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

/*****************/
/* Start hero */
/*****************/

.container {
  width: 100%;
  display: flex;
  height: 100vh;
}

.hero {
  width: 35%;
  height: 100%;
  background-image: url("../images/tree-big.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  padding: 2.4rem;
  margin-top: 15vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.logo_img {
  width: 9.6rem;
}

.hero h2 {
  font-size: 5.2rem;
  font-family: var(--heading_font);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2.5px;
}

.hero_footer {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  padding: 32px 0;
}

.hero_footer img {
  width: 2rem;
  margin: 0 0.6rem;
}

.hero_footer a:link,
.hero_footer a:visited {
  color: #5c8374;
  transition: 0.3s;
}

.hero_footer a:hover,
.hero_footer a:active {
  color: #467c67;
}

/*****************/
/* End hero */
/*****************/

/*****************************/
/********* Start form ********/
/*****************************/

.form {
  font-family: var(--sec_font);
  flex: 1;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.form section {
  flex: 1 1 0;
}

/*****************/
/* Start header */
/*****************/

.header_section,
.footer_section {
  background-color: #eeeff1;
  color: #444;
}

.header_section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 4.4rem 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.8px;
}

.header_section p {
  max-width: 70ch;
}

.header_section p:last-child {
  margin-top: 2rem;
}

/*****************/
/* End header */
/*****************/

/*****************/
/* Start form */
/*****************/

.form .form_section {
  font-size: 1.4rem;
  padding: 2.4rem 4.4rem;
  flex: 1;
}

.form_section h2 {
  font-size: 2.4rem;
  font-weight: 500;
  color: #444;
  margin-bottom: 1rem;
}

.form_section .form_inputs {
  max-width: 65rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px 40px;
  color: #666;
}

.form_inputs div,
.form_inputs p {
  flex: 1 1 300px;
}

.form_inputs div label {
  display: block;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.form_inputs label span {
  text-transform: capitalize;
  font-size: 1.2rem;
}

.form_inputs div input {
  font-size: 1.6rem;
  padding: 1.2rem 1.6rem;
  width: 80%;
  border: 1px solid #e5e7eb;
  box-shadow: 1px 1px 8px rgba(218, 213, 213, 0.2);
  border-radius: 0.8rem;
}

.form_inputs input:focus {
  outline: none;
}

.form_inputs input:user-valid {
  border: 1px solid green;
}

.form_inputs input:user-invalid {
  border: 1px solid red;
}

.form_inputs p {
  font-size: 1.6rem;
  color: #444;
}

.show {
  margin-right: 0.5rem;
}

/*****************/
/* End form */
/*****************/

/*****************/
/* Start footer */
/*****************/

.footer_section {
  font-size: 1.6rem;
  padding: 3rem 4.4rem 0;
}

button[type="submit"] {
  cursor: pointer;
  background: #596d48;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 12px 32px;
  border: none;
  border-radius: 10px;
  margin-bottom: 16px;
  transition: 0.3s;
}

button[type="submit"]:hover {
  background: #41552e;
}

.footer_section p a {
  color: #596d48;
  font-weight: bold;
}

/*****************/
/* End footer */
/*****************/

/*****************************/
/********* End form ********/
/*****************************/
